{% extends "base.html" %}
{% block content %}
<main class="main main--about">
    <p>
        TikTok: Art for Sale is a curated website that showcases the best Etsy Artists that are trending on TikTok.
    </p>
    <p>
        At the beginning of the year, Etsy announced a new partnership with TikTok. And ever since, they've been actively encouraging sellers to learn and use TikTok for their Etsy business.
    </p>
    <p>
        So, if you think TikTok is just another passing social media fad, it might be time to think again. For your business at least.
    </p>
</main> 
{% endblock %}